<div>
	<div><%= link_to "Add Employee",employees_path%></div>
	<div><%= link_to "Hierarchy List",hierarchy_path%> </div>
	<div><%= link_to "Salary Ratio",salary_ratio_path %></div>
	<div><%= link_to "Manage Roles",roles_path%></div>
</div>